$main-font-stack: 'Montserrat', sans-serif;
$secondary-font-stack:'Kaushan Script', cursive;
$main-font-size: 14px;
$primary-white-color:  #ffffff;
$primary-black-color: rgb(51, 51, 51);
$secondary-btn-color: rgb(229, 229, 229);
$secondary-background-color: rgb(243, 129, 129);
$secondary-color: rgb(149, 225, 211);
$large: 1366px;
$medium: 1200px;
$tablet: 978px;
$mobile: 576px;