 @media (min-width: 320px) and (max-width:767px) {
     
    .logo {
         display: flex;
         justify-content: center;
     }
 }

 @media (min-width: 768px) {

     .container-fluid {
         background-image: url(../img/Tablet_BG.png);
         min-height: 700px;
         background-repeat: no-repeat;
         background-position: center;
         background-size: cover;
     }

     .wrapper {
         display: flex;
         flex-direction: row;
         margin-bottom: 153px;
     }

     .logo {
         padding: 40px 0 40px;
     }

     .nav-item a {
         text-decoration: none;
         font-size: 14px;
         font-weight: bold;
         color: #ffffff;
     }

     .nav-item:first-child {
         margin-right: 39px;
     }

     .top1 {
         font-size: 52px;
     }

     .top2 {
         font-size: 24px;
     }

     .fnd {
         margin-bottom: 154px;
     }

     .partners {
         justify-content: center;
     }

     .partners_1 {
         text-align: center;
         margin-bottom: 20px;
         font-size: 22px;
         font-weight: bold;
         color: #222;
     }

     .partners_list {
         display: flex;
         justify-content: center;
         flex-wrap: wrap;
         margin: 0 auto;
     }

     .partners_item {
         width: 374px;
         margin-right: 0;
         margin-left: 0;
     }
    
     .two {
         order: 2;
    
     }

     .three {
         order: 1;
    
     }

     .four {
         order: 4;
     }

     .partner::after {
         content: "";
         display: block;
         position: absolute;
         top: 90px;
         right: 110px;
         width: 32px;
         height: 32px;
         border-radius: 50%;
         border: 3px solid #fff;
         background-position: center;
         background-repeat: no-repeat;
     }

     .text_block {
         padding: 0 20px;
         margin-bottom: 0;
     }

     .other {
         margin-top: 20px;
     }
 }

 @media (min-width: 940px) {
     .wrapper {
         min-width: 920px;
     }

     .container-fluid {
         background-image: url(../img/Desktop_BG.png);
         min-height: 700px;
         background-repeat: no-repeat;
         background-position: center;
         background-size: cover;
     }

     .top1 {
         font-size: 52px;
         margin-top: 153px;
         line-height: 1;
         margin-bottom: 20px;
     }

     .top2 {
         font-size: 24px;
         text-align: center;
         margin-bottom: 34px;
         padding: 0 52px;
         font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     }


     .partners_1 {
         margin-top: 70px;
     }

     .one {
         padding-right: 0;
         padding-left: 0;
       
     }

     .two {
         order: 2;
         padding-right: 0;
         padding-left: 0;
       
     }

     .three {
         order: 1;
         padding-right: 0;
         padding-left: 0;
        
     }

     .four {
         order: 4;
         padding-right: 0;
         padding-left: 0;
         margin-right: 0;
     }

     .partner::after {
         right: 60px;
     }

     .text_block {
         margin-bottom: 0;
         padding: 0;
     }

     .other {
         margin-top: 38px;
     }
 }