
/* NAVIGATION  */
* {
    outline: #ff4e50;
}

.wrapper {
display: flex;
flex-direction: column-reverse;
}

.container-fluid {
    min-height: 540px;
    background-image: url(../img/Mobile_BG.png);
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.nav-list {
    display: flex;
    padding-bottom: 120px;
    padding-top: 40px;
    justify-content: center;

}

.nav-item a {
    border: 2px solid transparent;
    padding: 11px 17px;
    border-radius: 19px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;

}

/* .nav-item:first-child {
    margin-right: 39px;
} */


.nav-item a:hover,
.nav-item a:focus {
    border: 2px solid #fff;
    padding: 11px 17px;
    border-radius: 19px;
    color: #ffffff;
}

.logo {
    display: flex;
    justify-content: center;
  
}

.logo:hover,
.logo:focus {
    text-decoration: none;
}

.top1 {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 20px;
}

.top2 {
    font-size: 18px;
    text-align: center;
    margin-bottom: 34px;
    padding: 0 52px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.find {
    display: flex;
    justify-items: center;
    justify-content: center;
}

.fnd {
    width: 280px;
    --h: 40px;
    height: var(--h);
    line-height: var(--h);
    border-radius: 19px;
    margin-bottom: 154px;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-color: #ff4e50;

}

/* PARTNERS */

.partners_1 {
    text-align: center;
    padding: 70px 20px 0;
    font-size: 22px;
    font-weight: bold;
    color: #222;
}

.partners_item {
    width: 320px;
    margin: auto;
    position: relative;
}

.partner {
    width: 120px;
    margin: 0 auto;
    padding-bottom: 20px;
}
.partners_item {
    margin-left: auto;
    margin-right: auto;
}

.img {
    display: block;
    margin: 0 auto;
}

.partner::after {
    content: "";
    display: block;
    position: absolute;
    top: 90px;
    right: 100px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 3px solid #fff;
    background-position: center;
    background-repeat: no-repeat;
}

.bradley::after {
    background-image: url(../img/small/Shape_128.png);
    background-color: #ff4e50;
}

.Lucas::after {
    background-image: url(../img/small/Shape_155.png);
    background-color: #ffa507;
}

.heather::after {
    background-image: url(../img/small/Shape_153.png);
    background-color: #1cd7ad;
}

.bradley_1::after {
    background-image: url(../img/small/Shape_170.png);
    background-color: #4e73db;
}

.name_block {

    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;

}

.text_block {
    margin-bottom: 20px;
    padding: 0 30px;
    text-align: center;
    font-size: 14px;
    color: #777777;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* OTHER  */

.other {
    display: flex;
    justify-items: center;
    justify-content: center;
}

.otr {
    width: 280px;
    --h: 40px;
    height: var(--h);
    line-height: var(--h);
    background-color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    color: #ff4e50;
    border: 2px solid #ff4e50;
    border-radius: 19px;
    margin-bottom: 60px;
    text-decoration: none;
    text-align: center;

}